/* Variáveis de breakpoints */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Cores de base */
$color-primary: #045a98;
$color-secondary: #6c757d;
$color-success: #299d44;
$color-info: #28a745;
$color-danger: #d62d2d;
$color-white: #fff;
$color-black: #000;
$color-light: #f4f7f8;

/* Espaçamentos */

$small: 0.5rem;
$medium: 1rem;
$large: 2rem;

/* Fontes */

$font-size-smaller: 0.7rem;
$font-size-small: 0.9rem;
$font-size-medium: 1rem;
$font-size-large: 2rem;