/* 

Breakpoints em:

sm: 576px;
md: 768px;
lg: 992px;
xl: 1200px;

*/

@media screen and (max-width: $breakpoint-xl) {}

@media screen and (max-width: $breakpoint-lg) {}


@media screen and (max-width: $breakpoint-md) {
  

}

@media screen and (max-width: $breakpoint-sm) {
    .login__form{
        form{
            width: 280px;
        }
    }

    .container__auth{
        grid-template-columns: 40px 1fr;

        .area__logo{
            width: 100%;
         
        }
        .descricao__link{
            display: none;
        }
        aside{
            .link.router-link-active::before {
                background-color: transparent;
            }
        }
        header{
            justify-content: end;
            .breadcrumb{
                display:none;
            }
        }
    }

 

}