body {
    padding: 0;
    margin: 0;
    background: #e2e2e2;
    font-size: small;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

a {
    cursor: pointer;
}

label {
    float: left;
    padding: 10px 0;
    margin: 0;
    font-size: $font-size-medium;
    color: #5e5e5e;
    pointer-events: none;
    transition: 0.5s;
}

input {
    width: 100%;
    margin-top: 15px;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #5e5e5e;
    outline: none;
    font-size: $font-size-small;
    color: #5e5e5e;
    background: transparent;
}

.form__erro {
    font-size: $font-size-small;
    color: $color-danger;
    padding: 10px;
}

input::placeholder {
    color: #c2c2c2;
}

.container__auth {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 75px 1fr 60px;

    grid-template-areas:
        'aside header'
        'aside main'
        'aside footer';

    header {
        grid-area: header;
    }

    aside {
        grid-area: aside;
        background-color: $color-primary;
    }

    footer {
        grid-area: footer;
        background-color: $color-light;
    }

    main {
        height: calc(100vh - 135px);
        background-color: $color-white;
    }


}